* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

footer{
    text-align: center;
    font-size: small;
    color: grey;
}

.logo{
    height: 50px;
}
.wrapper
{
    width : 70%;
    display : grid;
    grid-template-columns :repeat(auto-fit, minmax(220px, 1fr));
    grid-column-gap : 2%;
    grid-row-gap : 15px;
    position : relative;
    top : 10%;
}
#searchBarre{
    background-color: #9d9d9d;
}

#buttonH{
    margin-top: 10px;
}