* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

footer{
    text-align: center;
    font-size: small;
    color: grey;
}

.logo{
    height: 150px;
}
.wrapper
{
    width : 70%;
    display : grid;
    grid-template-columns :repeat(auto-fit, minmax(220px, 1fr));
    grid-column-gap : 2%;
    grid-row-gap : 15px;
    position : relative;
    top : 10%;
}
#searchBarre{
    background-color: whitesmoke;
    border-color: #0f0f0f;
}

#map{
margin: auto;
    margin-top: 20px;
    width: 600px;
    height: 400px;
}

#titreProfil, #titreNewArticle{
    text-align: center;
}
#lign1{
    height: 50px;
}
.tabLigne{
    height: 50px;
}
#lignForm{
    margin-top: 18%;
}
#textIntro{
    color: dimgray;
}

body {
    background-color:#321506;
    color: 	#D89B31;
    font-size: 12px;
    line-height: 16px;
}
a {
    color: 	#D89B31;
}
footer {
    text-align:center;
}
nav {
    background-color:#9A4C1E;
    border-radius: 8px;
    padding: 0 !important;
    border: 1px solid #ddd;
}
section {
    padding-right: 0 !important;
}
.panel {
    background-color: #9A4C1E;
    border-radius: 8px;
    padding-bottom: 5px;
}
h1 {
    color: #D89B31;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #321506;
}
.panel-default > .panel-heading, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #D89B31;
    background-color: #321506;
    border-radius: 8px;
}