* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

footer{
    text-align: center;
    font-size: small;
    color: grey;

}
header{
    position: absolute;
    width: 100%;
}
.logo{
    height: 50px;
    margin: 0px;
}

.logo-div{
    display: inline-block;
}

#map{
margin: auto;
    margin-top: 20px;
    height: 400px;
}

#titreProfil, #titreNewArticle #titreContact{
    text-align: center;
}
#lign1{
    height: 50px;
}
.tabLigne{
    height: 50px;
}
#lignForm{
    margin-top: 18%;
}
#textIntro{
    color: #321506;
}

.panel {
    border-radius: 8px;
    padding-bottom: 5px;
}
h2 {
    color: #2b669a;
}
h3{
    color: #2b669a;
}

.comment{
    display: inline-block;
    border-radius: 3px 3px 3px 3px;
    background-color: #D7B581;
    font-size: large;
    color: white;
    text-align: left;
    height: 50px;
}

.black {
    color: #2b669a;
}
.carousel-control {
    width: 4%;
    margin-top: 1%;
}
.btn-danger {
    margin-right: 5px;

}
.btn-envoyer{
    margin-left: 35%;
}
.btn-succes {
    margin-right: 5px;
}
.btn-default {
    margin-right: 5px;
}

.activeLike{
    color: green;
}
.activeDislike{
    color: red;
}
.activeSign{
    color : orange;
}

.btn-primary
{
    display: block;
    margin : auto;

}
#titreHead{
    position: absolute;
    text-align: center;
    font-family: Verdana, sans-serif;
    margin-top: 6%;
    letter-spacing: 10px;
    color: rgb( 200, 200, 200 );
    background-color: rgba( 60, 60, 60 , 0.4);
    height: 12%;
    width: 80%;
    left: 10%;
}

td img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table-bordered
{
    text-align: center;
    vertical-align: middle;
}


#mostliked
{
    text-align: center;
    vertical-align: middle;
}
#barreNav{
    background-color: black;
    font-size: medium;
    border-radius: unset;
}
.art h4{
    text-align: center;
}
.art img{
margin: auto;
}
.unitComment{
    border-radius: 3px 3px 3px 3px;
    background-color: #D7B581;
    font-size: large;
    color: white;
    text-align: left;
    margin: 10px 10px 10px 10px;
    vertical-align: center;
}
.boxCord{
    display: inline-block;
    background-color: #5bc0de;
}